<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style_settings.css') }}">

    <title>مظهر المذكرة</title>

</head>


<body>


    <h1>
        🎨 مظهر صفحة المذكرة
    </h1>


    <form action="{{ url_for('save_settings_note') }}" method="post">


        <h3>
            اختر الخلفية
        </h3>


        <select name="background">


            <option value="default" {% if settings[0]=="default" %} selected {% endif %}>
                الخلفية الافتراضية
            </option>


            <option value="img/BG1 app_Not.jpg" {% if settings[0]=="img/BG1 app_Not.jpg" %} selected {% endif %}>
                🖼️ الخلفية 1
            </option>


            <option value="img/BG6 app_Not.jpg" {% if settings[0]=="img/BG6 app_Not.jpg" %} selected {% endif %}>
                🖼️ الخلفية 2
            </option>


        </select>


        <br><br>


        <label>
            لون الخلفية:
        </label>


        <input type="color" name="background_color" value="{{ settings[1] }}">


        <br><br>


        <button type="submit">
            💾 حفظ المظهر
        </button>


    </form>


    <br>


    <a href="{{ url_for('home_page') }}">
        ↩️ العودة للمذكرات
    </a>


</body>

</html>